google-genai>=1.22.0
google-api-python-client>=2.174.0
google-auth>=2.40.3
google-auth-oauthlib>=1.2.2
pydantic>=2.11.7
streamlit>=1.48.1
python-dotenv>=1.1.1
faster-whisper>=1.2.1
sounddevice>=0.5.5
scipy>=1.17.1
numpy>=2.3.2
